Source: rockchip-chromium-x11-utils
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: admin
Priority: standard
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               lintian,

Package: rockchip-chromium-x11-utils
Architecture: all
Section: admin
Priority: standard
Depends: coreutils,
         ${misc:Depends},
Description: Rockchip Chromium X11 Patch
