Source: rockchip-chromium-x11-utils
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: admin
Priority: standard
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               lintian,
               pandoc,
               shellcheck,

Package: rockchip-chromium-x11-utils
Architecture: all
Section: admin
Priority: standard
Depends: ${misc:Depends},
Enhances: chromium-x11
Description: Support package for Rockchip Chromium
 This package provide the necessary services to ensure
 proper functionality of Rockchip Chromium.
