[Unit]
Description=Set up runtime environment for Rockchip Chromium

[Service]
Type=oneshot
ExecStart=-/usr/bin/rockchip-chromium-x11-init.sh

[Install]
WantedBy=graphical.target
