[Unit]
Description=Set up runtime environment for Rockchip Chromium

[Service]
Type=oneshot
ExecStart=-/usr/bin/rockchip-chromium-prep

[Install]
WantedBy=graphical.target
